/* -------------------------------------------------------- general ------------------------------------------------------ */


body
{
    font-family: 'Montserrat','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/* ---------------------------------------------------------------header-------------------------------------------------- */

header
{
    
    background-color: #;
    border-bottom: 2px solid #D9BB93;
    height: auto;
    padding: 10px 0;
    position: relative;
}

header i.icon
{
    display: none;
    position: absolute;
    right: 30px;
    top: 25px;
    z-index: 10;
}

header .logo h2
{
     color: #D9BB93;
     margin-top: 10px;
}

header nav .nav-list
{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
}

header nav .nav-list .list a
{
    color:#D9BB93;
    display: block;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    transition:all 0.3s ease-in-out;
}

header nav .nav-list .list a:hover
{
    color: #F1F0E2;
}

/* -------------------------mobile header------------------------------- */


@media (max-width:767px){

header .logo h2
{
    text-align: center;
}

header nav .nav-list
{
    display: block;
    text-align: center;
    padding: 0;
}

header i.icon
{
    display: block;
}


}



/* -------------------------------------------------------------- fin du header ------------------------------------------------------------- */