/* -------------------------------------------------------- general ------------------------------------------------------ */
html
{
    padding: 0;
    margin: 0;
}

body
{
    font-family: 'Montserrat','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

.overlay
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.2)
}

.orange
{
    color: #D98D2C;
}

.button
{
    background: #D98D2C ;
    color: #F1F0E2 ;
    padding: 10px;
    text-align: center;
    width: 150px; 
    text-decoration: none;
    list-style: none;  
}

.button a:hover
{
    text-decoration: none;
    list-style: none;
}


.bold
{
    font-weight: bold;
}
/* ------------------------------------------------------------------ fin general ---------------------------------------------------------------- */

/* ---------------------------------------------------------------------header-------------------------------------------------------------------- */


header
{
    
    background-color: #3E4E59;
    background: linear-gradient(#3E4E59,#F1F0E2 800px);
    border-bottom: 2px solid #D98D2C;
    height: auto;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 999;
    opacity: 0.9;
}

header i.icon
{
    display: none;
    position: absolute;
    right: 30px;
    top: 25px;
    z-index: 10;
}

header .logo h2
{
     color: #F1F0E2;
     margin-top: 10px;
}

header nav .nav-list
{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
}

header nav .nav-list .list a
{
    color:#F1F0E2;
    display: block;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    transition:all 0.3s ease-in-out;
}

header nav .nav-list .list a:hover
{
    color: #D98D2C;
}

/* ------------mobile header----------------- */


@media (max-width:767px){

header .logo h2
{
    text-align: center;
}

header nav .nav-list
{
    display: none;
    text-align: center;
    padding: 0;
}

header i.icon
{
    display: block;
}


}


/* -------------------------------------------------------------- fin du header ------------------------------------------------------------- */

/* --------------------------------------------------------------------home------------------------------------------------------------------ */


.home
{
    height: 600px;
    background-image: url(../ressources/images/main-img.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;
}

.home .home-content
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
}

.home .home-title
{
    color: #F1F0E2;
    font-size: 40px;
    margin-bottom: 20px; 
    text-transform: uppercase;
}

.home button a 
{
    text-decoration: none;
    list-style: none;
}


/* ------------mobile home----------------- */

@media (max-width:767px){

.home .home-title
    {
        font-size: 20px;
    }

.home
    {
        height: 300px;
        background-image: url(../ressources/images/main-img.jpg);
        background-size: cover;
        background-position: center;
        text-align: center;
        position: relative;
    }

.home .home-content
    {
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);  
    }

}


/* ----------------------------------------------------------------fin du home------------------------------------------------------------------ */

/* -----------------------------------------------------------Faites nous confiance------------------------------------------------------------------ */

.confiance
{
    padding-top: 20px;
}

.title-confiance
{
    text-align: center;
    font-size:  40px;
    text-transform: uppercase;
    padding: 20px;

}

.line
{
    width: 250px;
    background-color: darkgray;
    height: 3px; 
    margin: auto;
}

.line span
{
    display: block;
    width: 200px;
    height: 5px;
    background-color: #D98D2C;
    margin: auto;
    position: relative;
    bottom: 0.6px;
}


.confiance-header p
{
    margin: 30px auto;
    line-height: 1.5;
    padding-top: 50px;
    padding-bottom: 50px;
}

.confiance-caroussel
{
    display: flex;
    justify-content: space-around;
    margin: 40px;
    padding-bottom: 40px;
}


/* ------------mobile confiance----------------- */

@media (max-width:767px){

.img-confiance
{
    height: 70px;
    width: 70px;
    justify-content: space-between;
}


.title-confiance
{
    text-align: center;
    font-size:  40px;
    text-transform: uppercase;
    padding: 0px;

}

.confiance-header p
{
    margin: 30px auto;
    line-height: 1.5;
    padding-top: 0px;
    padding-bottom: 0px;
}

.confiance-caroussel
{
    margin: auto; 
    padding-bottom: 30px;
}



}

/* -----------------------------------------------------------fin Faites nous confiance------------------------------------------------------------------ */

/* ----------------------------------------------------------------------bankroll---------------------------------------------------------------------- */

.bankroll
{
    background-color: #3E4E59;
    background: linear-gradient(#3E4E59,darkgray 800px);
    text-align: center;
    padding-top: 40px;
    padding-bottom: 60px;
}

.bankroll h1
{
    padding: 10px;
    text-transform:uppercase;
    color: #D98D2C;
}

.bankroll p
{
    padding: 10px;
    color: #F1F0E2;
}



/* ------------mobile bankroll----------------- */


.bankroll-img
{
    max-width: 100%;
    width: 100%;
}




/* ----------------------------------------------------------------------fin bankroll---------------------------------------------------------------------- */

/* ----------------------------------------------------------------------snapchat---------------------------------------------------------------------- */

.snapchat
{
    display: flex;
    margin-top: 40px;
}

.text-snap
{
    text-align: center;
    margin: 100px;
}

.text-snap h2
{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
}

.text-snap p
{
    margin-top: 70px;
    color: #3E4E59;
}

.dark
{
    height: 500px;
    width: 70px;
    position: absolute;
    background-color: black;
}

/* ------------mobile snapchat----------------- */



@media (max-width:767px){


.snapchat
    {
        display: flex;
        height: 150px;
    }



.img-snap-mobile
{
    height: 150px;
    width: 150px;
}

.dark
{
    height: 150px;
    width: 20px;
    position: absolute;
    background-color: black;
}
    
.text-snap
{
    margin: 10px;
    overflow: scroll;
}

.text-snap h2
{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}

.text-snap p
{
    margin-top: 20px;
}


}


/* ------------------------------------------------------------------fin snapchat---------------------------------------------------------------------- */

.footer{
    color: white;
    border-top: 8px solid #D98D2C;
    background-color: #D98D2C;
    background: linear-gradient(20deg,#3E4E59,#3E4E59,#3E4E59);
    background-size: 1000% 1000%;   
    padding: 0;
    margin: 0;
}




/* ---------------------------------------------------------------------------------------------------------------------------------------- */


/* ------------------------------------------------------------------fin snapchat---------------------------------------------------------------------- */
